<!DOCTYPE html>
<html lang="en">
<head>
  <title>회원 등록</title>
</head>
<body>
  <h1>회원 등록 페이지</h1>
  <form action="/members/create" method="POST">
    아이디: <input type="text" name="userid"><br>
    이 름: <input type="text" name="username"><br>
    <input type="submit" value=" 등록"> <a href="/members/list">취소</a>
  </form>  
</body>
</html>